<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark.min.css"
      integrity="sha512-Jk4AqjWsdSzSWCSuQTfYRIF84Rq/eV0G2+tu07byYwHcbTGfdmLrHjUSwvzp5HvbiqK4ibmNwdcG49Y5RGYPTg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/styles.css" />
    <script>
      hljs.highlightAll();
    </script>
    <title>Code Dump</title>
  </head>
  <body>
    <%- include('components/buttons.ejs', {id: locals.id}) %>
    <div class="wrapper">
      <div class="line-numbers">
        <% for( let i = 1; i <= locals.lineNumbers; i++ ) { %>
        <div><%= i %></div>
        <% } %>
      </div>
      <pre><code id="code-display" class="<%= locals.language %>"><%= locals.code %></code></pre>
    </div>
  </body>
</html>
